:root {
    --primary-color: #f65026;
    --secondary-color: #000;
    --background-color: #f5f5f5;
    --header-font: "Bebas Neue", sans-serif;
    --body-font: "Google Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer, h1, h2 {
    font-family: var(--header-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
}

header img {
    width: 150px;
}

nav ul {
    list-style-type: none;
}

nav a {
    font-size: larger;
    text-decoration: none;
    color: blue;
}

nav a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
}

main section:first-child {
    position: relative;
}

main section:first-child img {
    width: 100%;
}

main section:first-child h2 {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    background-color: rgba(246, 80, 38, 0.8);

}

main section:first-child p {
    background-color: rgba(246, 80, 38, 0.7);
    position: absolute;
    top: 45%;
    left: 10%;
    right: 10%;
    padding: 1rem;
}

main section:not(:first-child) {
    padding: 1rem 10%;
    text-align: center;
    padding-top: 10%;
    background-color: var(--background-color);
}

main section:not(:first-child) h2 {
    margin: 0 10% 1rem;
}

main section:not(:first-child) li {
    margin-bottom: 0.75rem;
    text-align: left;
}

main section:not(:first-child) ul {
    padding-left: 1.5rem;
}

body.thanks main {
    padding: 2rem 10%;
    background-color: var(--background-color);
    text-align: center;
    font-size: large;
}

body.home main section:not(:first-child) p {
    margin-bottom: 1rem;
}

#menu-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
	margin-left: auto;
    padding-right: 1.5rem;
    font-size: 2rem;
}

#menu.menu-hidden {
    display: none;
}

.contact-link {
    font-size: larger;
    text-decoration: none;
    color: blue;
}

.contact-link:hover {
    color: var(--secondary-color);
}