:root {
    --primary-color: #f65026;
    --secondary-color: #000;
    --background-color: #f5f5f5;
    --header-font: "Bebas Neue", sans-serif;
    --body-font: "Google Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer, h1, h2 {
    font-family: var(--header-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
}

header img {
    width: 150px;
}

nav ul {
    list-style-type: none;
}

nav a {
    font-size: larger;
    text-decoration: none;
    color: blue;
}

nav a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
}

body.home main section:first-child {
    position: relative;
}

body.home main section:first-child img {
    width: 100%;
}

body.home main section:first-child h2 {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    background-color: rgba(246, 80, 38, 0.8);

}

body.home main section:first-child p {
    background-color: rgba(246, 80, 38, 0.7);
    position: absolute;
    top: 45%;
    left: 10%;
    right: 10%;
    padding: 1rem;
}

body.home main section:not(:first-child) {
    padding: 1rem 10%;
    text-align: center;
    padding-top: 10%;
    background-color: var(--background-color);
}

body.home main section:not(:first-child) h2 {
    margin: 0 10% 1rem;
}

body.home main section:not(:first-child) li {
    margin-bottom: 0.75rem;
    text-align: left;
}

body.home main section:not(:first-child) ul {
    padding-left: 1.5rem;
}

body.thanks main {
    padding: 2rem 10%;
    background-color: var(--background-color);
    text-align: center;
    font-size: large;
}

body.home main section:not(:first-child) p {
    margin-bottom: 1rem;
}

body.contact main {
    padding: 1rem;
}

body.contact main section {
    padding: 1rem;
    text-align: center;
}

body.contact main section h2 {
    margin-bottom: 1rem;
}

body.contact main section a {
    text-decoration: none;
}

body.contact main section a:hover {
    color: var(--secondary-color);
}

body.contact form.ft1 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    padding: 1rem;
}

body.contact form.ft1 fieldset {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: 6px;
}

body.contact form.ft1 div {
    display: grid;
}

body.contact form.ft1 input,
body.contact form.ft1 textarea {
    width: 100%;
    border-radius: 6px;
    padding: 0.5rem;
}

body.contact form.ft1 input {
    height: 44px;
}

body.contact form.ft1 textarea {
    height: 6rem;
}

body.contact form.ft1 legend {
    font-family: var(--header-font);
    font-size: 1.25rem;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
}

body.contact form.ft1 > div {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

body.contact form.ft1 > input[type="submit"] {
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 0 1rem;
}

body.contact form.ft1 input:required:invalid {
    border: 2px solid red;
}

body.contact form.ft1 input:required:valid {
    border: 2px solid green;
}

body.contact form.ft1 textarea:required:invalid {
    border: 2px solid red;
}

body.contact form.ft1 textarea:required:valid {
    border: 2px solid green;
}

body.contact form.ft1 > input[type="submit"]:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

body.contact form.ft1 label {
    font-weight: bold;
}

#menu-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
	margin-left: auto;
    padding-right: 1.5rem;
    font-size: 2rem;
}

#menu.menu-hidden {
    display: none;
}

.contact-link {
    font-size: larger;
    text-decoration: none;
    color: blue;
}

.contact-link:hover {
    color: var(--secondary-color);
}