main, footer {
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: "Valley Sans", sans-serif;
}

header {
    min-height: 100px;
    margin: auto;
}

header, footer {
    background-color: #003B6F;
    color: white;
    padding-top: 5px;
    font-weight: 200;
}

#course-title {
    display: block;
    text-align: center;
}

nav {
    width: 100%;
    background-color: darkgreen;
    padding-bottom: 20px;
    padding-top: 5px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

nav a:hover {
    color: black;
}

.card {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

main h1 {
    grid-column: 1/3;
    text-align: center;
    font-family: "Roboto", sans-serif;
}


.card img {
    width: 100px;
    height: auto;
}

.card h2 {
    text-align: center;
    background-color: #003B6F;
    color: white;
    margin: -20px -20px 20px ;
    border-radius: 10px;
}

main .card:first-of-type  img:first-of-type {
    float: right;
}

main .card:first-of-type img:nth-of-type(2) {
    clear: both;
}

main .card:first-of-type h3 {
    text-align: center;
    clear: both;
    border-bottom: 1px solid black;
}

main .card:nth-of-type(2) li {
    margin-bottom: 10px;
}