@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	#menu-button {
		display: none;
	}

	.menu-hidden {
		display: flex;
	}

	nav ul {
		flex-direction: row;
	}
}
